@font-face {
	font-family: Oswald;
	src: url('fonts/Oswald-Regular.ttf');
}
body{
	background: #161616;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.main-nav {
    position: absolute;
}
.my-nav {
    margin-top: 100px;
    background: transparent;
    border: 0px;
    padding-bottom: 1px;
}
.btnss {
    margin-top: -40px;
}
ul.nav.navbar-nav.navbar-right li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
	font-family: Oswald;
}
ul.nav.navbar-nav.navbar-right li a:hover {
    color: #cb1114;
}
.fl-img {
    background: url("images/main.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 100% 100%;
}
.ft-nav {
    list-style: none;
    padding-left: 0px;
}
.tlnt img {
    width: 100%;
}
.tlnt {
    margin-top: 80px;
    margin-bottom: 80px;
}
.watch img {
    width: 100%;
}
.watch {
    margin-top: 80px;
    margin-bottom: 80px;
}
.ft-nav li {
    display: inline;
}
footer {
    border-top: 1px solid #561415;
    padding-top: 30px;
    padding-bottom: 10px;
}
ul.ft-nav li {
    background: url("images/icon.png");
    background-repeat: no-repeat;
    background-position: center right;
}

ul.ft-nav li a {
    padding-right: 20px;
    color: #4c4c4c;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
ul.ft-nav li:last-child {
	background:none;
}
.copy p {
    color: #4b4b4b;
    font-size: 12px;
    text-transform: uppercase;
}
.copy a {
    color: #7e91ae;
	text-decoration:none;
}
.copy {
    margin-top: 15px;
}
ul.nav.navbar-nav.navbar-right li {
    background: url("images/icons.png");
    background-repeat: no-repeat;
    background-position: center right;
}
ul.nav.navbar-nav.navbar-right li:last-child {
    background: none;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-right: 20px;
}
.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 240px;
	text-align: left;
}
.carousel-caption h3 {
    font-size: 50px;
    text-transform: uppercase;
}
.carousel-caption p {
    color: #cc1213;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}
.slid-btn {
    border-radius: 0px;
    background: #CC1213;
    border: 1px solid #CC1213;
    font-size: 20px;
    padding: 5px 30px;
	font-weight:bold;
}
.slid-btnsec {
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 0px;
    background: #161616;
    border: 1px solid #161616;
	font-weight:bold;
}
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100%;
    padding: 2%;
    display: none;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}
.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 30px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
}
.caption h4 {
    margin-top: 55%;
    color: #161616;
    font-size: 45px;
    text-transform: uppercase;
}
.caption p {
    text-transform: uppercase;
    color: #cb1313;
    font-size: 16px;
    font-weight: bold;
}
.bknow {
    background: #CC1213;
    border: 0px;
    border-radius: 0px;
    padding: 5px 40px;
    font-size: 25px;
    color: #fff;
    margin-top: 20px;
}
.carousel-indicators {
    display: none;
}
.slf-frmt h1 {
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.85);
}
.slf-frmt h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0px 10px rgba(0, 0, 0, 0.85);
}
.slf-frmt h2 {
    font-size: 60px;
    color: #cc1213;
    text-transform: uppercase;
    text-shadow: 0 0px 10px rgba(0, 0, 0, 0.85);
}
.slf-frmt h4 {
    text-transform: uppercase;
    text-shadow: 0 0px 10px rgba(0, 0, 0, 0.85);
    color: #fff;
    font-size: 30px;
}
.my-btn-se {
    background: #CC1213;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 0px;
    border: 1px solid #CC1213;
    color: #fff;
    padding: 5px 40px;
    margin-top: 15px;
}
.watc h3 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.wtc a {
    font-size: 16px;
    color: #fff;
	text-decoration: none;
}
.dif {
    background: transparent;
    border-top: 1px solid #cc1213 !important;
    border: 0px;
    padding-left: 0px;
    margin-right: 50px;
    padding-top: 10px;
    border-radius: 0px;
}
.wtc-dif h4 {
    font-size: 20px;
    color: #7f7f7f;
    font-weight: bold;
    margin-bottom: 3px;
}
.wtc-dif p {
    font-size: 14px;
    color: #a10f10;
}
.loc {
    color: #424242;
}
.social a {
    margin-left: 10px;
    color: #7f7f7f;
}
@media (max-width : 767px){
	.my-nav {
    margin-top: 20px;
    margin-bottom: 30%;
}
.main-nav {
    position: absolute;
    width: 100%;
}
.carousel-caption h3 {
    font-size: 25px;
}
.carousel-caption p {
    font-size: 15px;
}
.carousel-caption {
    padding-bottom: 70px;
}
ul.nav.navbar-nav.navbar-right li {
    background: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: rgba(149, 149, 149, 0.9);
}

.caption h4 {
    margin-top: 45%;
    color: #161616;
    font-size: 35px;
    text-transform: uppercase;
}
.slf-frmt h1 {
    font-size: 35px;
}
.slf-frmt h2 {
    font-size: 25px;
}
.slf-frmt h4 {
    font-size: 18px;
}
.fl-img {
    background-size: cover;
}
.my-btn-se {
    font-size: 18px;
}
.bknow {
    font-size: 18px;
}
.watc h3 {
    font-size: 25px;
}
.wtc a {
    font-size: 15px;
}
.dif {
    margin-bottom: 50px;
}
.wtc-dif {
    margin-bottom: 40px;
}
.ft-nav {
    text-align: center;
    font-size: 12px;
}
ul.ft-nav li a {
    font-size: 12px;
}.social {
    text-align: center;
}
.copy p {
    font-size: 10px;
}
}